@namespace Repro.Pages
@page "/repropage"

<PageTitle>MudDataGrid .NET SDK 6 Build Problem Reproduction</PageTitle>

<h1>MudDataGrid .NET SDK 6 Build Problem Reproduction</h1>

<div>
    <MyDataGridExample>
        
    </MyDataGridExample>
</div>
